table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px; 
}

body {
    background: #faf3dd;
    margin: 0 auto;
    width: fit-content;
}

.headerFont {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900; 
    text-align: center;
}

.subheader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    background-color: #8FC0A9;
    text-align: center;
    padding: 5px; 
}

p, li, ol, ul, table, td, th, a {
    font-family: 'PT Serif', serif;
}

img {
    margin: 10px; 
}

ul {
    border-style: solid;
    border-color: #696d7d;
    border-width: 5px;
}