table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px; 
}

body {
    background: #faf3dd url("beige005.jpg");
    margin: 0 auto;
    width: fit-content;
}

.headerFont {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900; 
    text-align: center;
}

.subheader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    background-color: #8FC0A9;
    text-align: center;
    padding: 5px; 
}

p, li, ol, ul, table, td, th, a {
    font-family: 'PT Serif', serif;
}

img {
    margin: 10px; 
}

ul {
    border: 5px #696d7d solid;
}

#top h6 { 
    font-weight: 900;
}

#top {
    background: ;
}

#middle {
    background-color: #68B0AB;
    padding: 10px;

}

#photoBlock {
 background-color: #696D7D;
 padding: 10px; 
 margin: 10px 0px; 
 color: #faf3dd; 
}

.ramenLover {
    background-color: yellowgreen;
    color: black; 
}

:link {
    color: blue; 
}

:visited { 
    color: purple;
}

a:active {
    color: red; 
}

a:hover {
    font-weight: bold; 
}